# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.dSYM
*.dSYM.zip

# Build
build/
Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# CocoaPods
Pods/

# Archives
*.xcarchive

# Distribution artifacts
dist/
*.dmg
